# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Data + models (do not upload)
data/
models/

# OS files
.DS_Store
Thumbs.db

# Model weights
*.pt
*.joblib
*.pth
*.h5
*.onnx
*.pkl

# Training artifacts
*.png
*.txt
*.json
*.csv
